*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
appetitez/*.swp
appetitez/*.*~
appetitez/project.lock.json
appetitez/.DS_Store
appetitez/*.pyc

# Visual Studio Code
appetitez/.vscode/
# Rider
appetitez/.idea/

# Visual Studio
appetitez/.vs/

# Fleet
appetitez/.fleet/

# Code Rush
appetitez/.cr/

# User-specific files
appetitez/*.suo
appetitez/*.user
appetitez/*.userosscache
appetitez/*.sln.docstates

# Build results
appetitez/[Dd]ebug/
appetitez/[Dd]ebugPublic/
appetitez/[Rr]elease/
appetitez/[Rr]eleases/
appetitez/x64/
appetitez/x86/
appetitez/build/
appetitez/bld/
appetitez/[Bb]in/
appetitez/[Oo]bj/
appetitez/[Oo]ut/
appetitez/msbuild.log
appetitez/msbuild.err
appetitez/msbuild.wrn
/appetitez/appetitez/obj/appetitez.csproj.nuget.dgspec.json
/appetitez/appetitez/obj/appetitez.csproj.nuget.g.props
/appetitez/appetitez/obj/appetitez.csproj.nuget.g.targets
/appetitez/appetitez/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/appetitez/appetitez/obj/Debug/net8.0/appetitez.AssemblyInfo.cs
/appetitez/appetitez/obj/Debug/net8.0/appetitez.AssemblyInfoInputs.cache
/appetitez/appetitez/obj/Debug/net8.0/appetitez.assets.cache
/appetitez/appetitez/obj/Debug/net8.0/appetitez.csproj.AssemblyReference.cache
/appetitez/appetitez/obj/Debug/net8.0/appetitez.GeneratedMSBuildEditorConfig.editorconfig
/appetitez/appetitez/obj/Debug/net8.0/appetitez.GlobalUsings.g.cs
/appetitez/appetitez/obj/project.assets.json
/appetitez/appetitez/obj/project.nuget.cache
